<p>Exemplos de Interpolação</p>

<h2>Exemplo 1</h2>

<p> O reusltado de 1+1+ é igual a: {{1+1}}</p>
<p>O resultado de 10 dividdo por é {{10 / 5}}</p>

<h2>Exemplo 2</h2>

<p>O meu nome possui {{"3DD1".length}} letras</p>
<p>O meu nome todo em maiúsculo é {{"3dd1".toUpperCase()}}</p>
<p>O meu nome todo em minusculo é {{"3DD1".toLowerCase()}}</p>

<h2>Exemplo 3</h2>

<p>Meu nome é {{ nome }}</p>

<h2>Exemplo 4</h2>
<p> Minha idade é {{getIdade()}}
<p>Minha idade daqui a 10 anos é {{ getIdade() + 10 }}</p>

<h2>Exemplo 5</h2>
<img src="{{ imageURL}}" width="200px" height="200px">
<input type="text" value="{{ textoQualquer}}">


<h2>Exemplo 6</h2>
<p><input type="text" value="{{ getNumeroAleatorio()}}"></p>

